<h1>
  Edit Comment
</h1>
<%= form_for([@my_thread, @comment]) do |f| %>
  <p>
    <%= f.text_field :body, placeholder: 'Enter body' %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<div class="footer">
  <%= link_to 'Back', my_thread_path, class: "footer-menu" %>
</div>